@{
    ViewData["Title"] = "Home Page";
}


<div class="w-100">
    <div class="title">
        <h1>ALL BOOKS</h1>
    </div>
    <div class="row w-100 mt-4">
        @foreach(var book in ViewBag.Books)
            {
              <div class="col-md-2 mr-4">
                 <a  asp-controller="Book" asp-action="Detail" asp-route-id="@book.BookId" class="card-link">
                     <div class="card book-card" style="width: 100%;">
                         <img src="/images/@book.Avatar" class="card-img-top" alt="...">
                         <div class="card-body">
                             <h5 class="card-title">@book.Title</h5>
                             <p class="card-text mb-2">@(book.Author.FirstName + " " + book.Author.LastName ) </p>
                             <a class="btn btn-success">Đọc sách online</a>
                         </div>
                     </div>
                 </a>
               </div>
            }
        
    </div>
        @*<div class="col-md-2 mr-4">
            <a asp-controller="Home"  asp-action="Detail" class="card-link">
                <div class="card" style="width: 100%;">
                    <img src="/images/educated-book.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-success">Đọc sách online</a>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 100%;">
                <img src="~/images/parallelworlds-book.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success">Đọc sách online</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width:100%;">
                <img src="/images/ThreeMustkeeters.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success">Đọc sách online</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 100%;">
                <img src="~/images/thebookthief-book.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success">Đọc sách online</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 100%;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUsYSpZgK2S_CWi3QKMaoV3Y9lXHirhRRxiA&s" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success">Đọc sách online</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width:100%;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUsYSpZgK2S_CWi3QKMaoV3Y9lXHirhRRxiA&s" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success">Đọc sách online</a>
                </div>
            </div>
        </div>


    </div>*@
    @*<div class="row w-100 mt-4">
        <div class="col-md-2 mr-4">
            <div class="card" style="width: 100%;">
                <img src="/images/educated-book.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success">Đọc sách online</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 100%;">
                <img src="~/images/parallelworlds-book.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success">Đọc sách online</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width:100%;">
                <img src="/images/ThreeMustkeeters.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success">Đọc sách online</a>
                </div>
            </div>
        </div>





    </div>
*@
</div>
