@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container" style="overflow:scroll; background-color :gray" xmlns="">
    
    <embed type="application/pdf" src="http://localhost:5296/images/@ViewBag.PdfFilePath" width="100%" height="600px">
    </embed>
</div>
