

@{
    Dictionary<string, string> menus = new Dictionary<string, string>()
{
    {"Index" , "Trang chủ" },
    {"Privacy" , "Tài liệu điện tử"  },
    {"Materials" , "Học liệu điện tử"  },
    {"Boook" , "Sách"  },
    {"Contact" , "Liên hệ"  },
    {"Administration" , "Quản trị"  },
    {"Introduction" , "Giới thiệu"  },
    {"Detail" , "Detail"  },


};
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryManagementSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <div class="top-header">
            <div class="row">
                <div class="col-md-4">
                    <img class="top-header-img" src="https://img.pikbest.com/png-images/20241016/creative-book-logo-vector-design_10968791.png!sw800" />
                </div>
                <div class="col-md-6">
                    <input class="form-control w-50" id="search" placeholder="Searching...." />
                </div>
                <div class="col-md-2">
                    <div class="top-header-buttons">
                        <a asp-controller="Auth" asp-action="SignUp" class="signUp-link">Đăng ký</a>
                        <a asp-controller="Auth" asp-action="Login">Đăng nhập</a>
                    </div>
                </div>

            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                    <span>
                        Book Category
                    </span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between p-2">
                    <ul class="navbar-nav">
                        @foreach (var pair in menus)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="@pair.Key">@pair.Value</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="w-100 ps-4 pe-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span class="footer-item">
                &copy; 2025 - LibraryManagementSystem
            </span>
            <span class="footer-item">Le Vo Khanh Minh</span>
            <span class="footer-item">CSE433 - Dotnet Programing - Lab 3 Group 2</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>